/* main */
*{
    background-color: #F5F5F5;
    color:#54413B;
    width: 100%;
    overflow: hidden;
    /* display: flex; */
    /* flex-direction: column; */
}
.container{
    position: relative;
    border: 2px solid blue;
}
/* fonts */
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }
  .bungee-hairline-regular {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
  }
  .arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* .arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
  } */
      
/* navbar */
.topbar{
    height:1.8rem;
    background-color: #826A5F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-container{
    position: absolute;
    top: 2.5rem;
    display: flex;
    justify-content:space-around;
}



/* about */
.about-container{
    margin-top: 5.5rem;
}

/* resume */
.resume-container{
}

/* portfolio */
.portfolio-container{
}

/* profile */
.profile-container{
} 

/* footer */
.footer-container{
    height:14rem;
    background-color: #826A5F;
    /* border : 1px solid purple ; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container .content>*, .footer-container p{
    background-color: #826A5F; 
    color: #FBEBDA;

    /* border : 1px solid red; */
    
}

.footer-container .content{
    display: flex;
    /* border : 1px solid lightblue ; */
    

}

/* .footer-container .content-img{
    width: 50%;
    border : 1px solid green ; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.footer-container .content-container{
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.footer-container .content-name{
    text-transform: capitalize;
    width: 50%;
    /* border : 1px solid green ; */
    
}

.footer-container .content-name-p{
    /* border : 1px solid black ; */
    width: 15rem;
}

.footer-container .content-name-p>p{
    /* border : 1px solid red; */
    text-align: center;
    font-size: 40px;
    margin:-27px 0px;
}

.footer-container img{
    height: 100px;
    width:100px;
    border-radius: 20px;    
    margin-right: 1rem;
}
.footer-line{
    font-size: 20px;
    margin: 0;
}