/* main */
*{
    background-color: #FBEBDA;
    color:#54413B;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
}
.container{
    position: relative;
    /* border: 2px solid blue; */
    height: 30rem;
    background-color:transparent;
}
/* fonts */
.bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;
  }
  .bungee-hairline-regular {
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    background-color: transparent;

  }
  .arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;

  }
  
  .arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
    background-color: transparent;

  }
  
  .arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
    background-color: transparent;

  }
  
  .arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
    background-color: transparent;

  }
h1{
    font-size: 1.5rem;
    margin: 2rem 5rem;
    position: relative;
    z-index:5;
}

/* home */
.home-container #top-img{
    width: 110%;
    top: -50px;
    left: -80px;
    position: absolute;
    background-color: transparent;

}
.home-container #bottom-img{
    width: 110%;
    position: absolute;
    background-color: transparent;
    z-index: 0;
    left: -5rem;
    margin-top: -43%;
}

.topbar{
    height:1.8rem;
    background-color: #826A5F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-container{
    position: absolute;
    top: 2.5rem;
    display: flex;
    justify-content:space-around;
    text-align: center;
    background-color: transparent;
}
.navbar-container a{
    font-size: 1.5rem;
}

.navbar-container a p:first-child{
    font-size: 30px;
    margin-bottom: -30px;
}
.navbar-container a p:last-child{
    font-size: 30px;

}

/* about */
.about-container{
    margin-top: 10rem;
}
.about-content{
    display: flex;
    background-color: transparent;
}
.about-content p{
    margin:2rem 5rem;
    width: 80%;
    font-size: 20px;

}

/* resume */
.resume-container{
}

/* portfolio */
.portfolio-container{
}

/* profile */
.profile-container{
} 

/* footer */
.footer-container{
    /* height:14rem; */
    background-color: #826A5F;
    /* border : 1px solid purple ; */
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container .content>*, .footer-container p{
    background-color: #826A5F; 
    color: #FBEBDA;
    z-index: 3;

    /* border : 1px solid red; */
    
}

.footer-container .content{
    display: flex;
    z-index: 3;
    /* border : 1px solid lightblue ; */
    

}

/* .footer-container .content-img{
    width: 50%;
    border : 1px solid green ; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.footer-container .content-container{
    display: flex;
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.footer-container .content-name{
    text-transform: capitalize;
    width: 50%;
    /* border : 1px solid green ; */
    
}

.footer-container .content-name-p{
    /* border : 1px solid black ; */
    width: 15rem;
    overflow: hidden;
    margin:0;

}

.footer-container .content-name-p>p{
    /* border : 1px solid red; */
    text-align: center;
    font-size: 40px;
    margin:-27px 0px;
}

.footer-container img{
    height: 100px;
    width:100px;
    border-radius: 20px;    
    margin:1rem 0 0 0;
}
.footer-line{
    font-size: 20px;
    margin: 0;
}